
.DS_Store
Eat_it/Eat_it.xcodeproj/project.xcworkspace/xcuserdata/zoe.xcuserdatad/UserInterfaceState.xcuserstate
*.png
*.json
Eat_it/Eat_it.xcodeproj/project.xcworkspace/xcuserdata/tatianasimmer.xcuserdatad/UserInterfaceState.xcuserstate
